.title {
  text-align: left;
  padding-left: 30px;
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: good-times, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.title p {
  font-family: arbotek, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.title-earth {
  
}

@media only screen and (min-width: 1200px) {
  .title {
    padding-left: 0px;
    font-size: 45px;
  }
}