.container-earth {
  text-align: center;
}

.view-earth {
  width: 100vw;
  position: absolute;
  z-index: 5;
  background-color: black;
}

.to-home-from-earth {
  position: absolute;
  z-index: 50;
  top: 30px;
  right: 30px;
}

.to-home-from-earth button {
  font-family: ethnocentric, sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 15px 20px 0px 20px;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}

.to-home-from-earth button:hover { 
  background-color: #444;
}

.earth-bg {
  position: fixed;
  left: 0px;
  max-width: 70vw;
  height: auto;
  z-index: -5;
}

.earth-img {
  transition: all 1s ease;
  width: 100%;
  left: 0px;
  z-index: -1;
}

.container-outer-mars {
  position: relative;
  width: 100%;
}

.container-inner-earth {
  width: 90%;
  padding: 10px;
}

@media only screen and (min-width: 1025px) {
  .container-inner-earth {
    position: relative;
    z-index: 5;
    max-width: 614px;
    padding: 10px;
    left: 45%;
  }
}
