.container-mars {
  text-align: center;
}

@media only screen and (min-width:1025px) {

  .view-mars {
    transition: all 1s ease;
    transform: translateX(-100%);
    width: 99vw;
    position: absolute;
    left: 100%;
    background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(/src/img/ss-mars-1.jpg);
    background-attachment: fixed;
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container-mars {
    position: relative;
    max-width: 614px;
    padding: 10px;
    left: 50%;
    /*background-color: rgba(60, 60, 70, 0.5)*/
  }

  .container-mars {
    transform: translateX(-75%);
  }
}