/* ELEMENTS */
body {
  background-color: black;
  color: white;
  line-height: 1.5;
  /*
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(/src/img/ss-earth-1.jpg);
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(/src/img/ss-mars-1.jpg);
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  */
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  font-family: arbotek, sans-serif;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  z-index: 50;
}

/* CLASSES */
.main-wrapper {
  overflow-x: hidden;
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-filter {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/*
Include commonalities between the Mars and Earth views here:
SECTIONS
*/
.view {
  transition: all 1.2s ease-out;
}

.hidden {
  display: none;
}

.b1, .b2, .b3 {
  position: fixed;
  width: 200px;
  height: 100px;
  z-index: 50;
  margin-top: 50px;
  background-color: indianred;
}

.b1:hover, .b2:hover, .b3:hover {
  background-color: red;
}

.b1 {
  left: 20%;
}

.b2 {
  left: 40%;
}

.b3 {
  left: 60%;
}

.offscreen-right {
  transform: translateX(150%);
}

.offscreen-left {
  transform: translateX(-150%);
}
/*
.container-outer {
  position: relative;
  width: 100%;
}
*/
