/* ELEMENTS */
body {
  background-color: black;
  color: white;
  line-height: 1.5;
  font-family: arbotek-rounded, sans-serif;
  font-family: tenby-five, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  /*
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(/src/img/ss-earth-1.jpg);
  background-image: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5)), url(/src/img/ss-mars-1.jpg);
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  */
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-family: arbotek, sans-serif;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  z-index: 50;
}

button,
.btn
 {
  color: black;
}

/* CLASSES */
.main-wrapper {
  overflow-x: hidden;
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg-filter {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

/*
Include commonalities between the Mars and Earth views here:
SECTIONS
*/
.view {
  transition: all 1.2s ease-out;
}

.hidden {
  display: none;
}



.offscreen-right {
  transform: translateX(150%);
}

.offscreen-left {
  transform: translateX(-150%);
}
/*
.container-outer {
  position: relative;
  width: 100%;
}
*/

/* THE ENTIRE RANGE THING */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: none; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: black;
  color: black;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}


/* THUMB */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* TRACK */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #aaa;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #aaa;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #aaa;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #aaa;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #aaa;
}
input[type=range]::-ms-fill-upper {
  background: #aaa;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #aaa;
}
