.mars-input-container {
  margin-bottom: 20px;
  padding: 10px;
}

.sol-select {
  display: flex;
  justify-content: space-between;
  font-family: ethnocentric, sans-serif;
  font-size: 20px;
}

.mars-slider-value {
  color: #caa;
}

.sol-select-slider {
  width: 60%;
  text-align: center;
}

input[type=button] {
  font-family: ethnocentric, sans-serif;
  padding: 10px;
  font-size: 20px;
}

input[type=button]:hover {
  background-color: grey;
}

.rover-select {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  justify-content: space-between;
}

.rover-select input {
  padding: 20px;
  font-size: 16px;
}

.rover-btn {
  margin-bottom: 10px;
  height: 100px;
}

#mars-submit {
  color: black;
  margin-top: 20px;
  font-size: 16px;
}

@media only screen and (min-width:1025px) {
  .rover-select {
    flex-direction: row;
     padding: 40px 0px;

  }

  .rover-btn {
    margin-bottom: auto;
    height: auto;
  }
}